.root {
    -fx-font-family: sans-serif;
    /*-fx-font-size: 11.25px;*/
}

.button {
    -fx-background-color: transparent;
}

.button:hover, .button:focused {
    -fx-background-color: white;
}

.button:pressed {
    -fx-background-color: lightgray;
}