.root {
    -fx-font-family: sans-serif;
    -fx-font-size: 12;
}

.button {
    -fx-background-color: transparent;
}

.button:hover, .button:focused {
    -fx-background-color: white;
}

.button:pressed {
    -fx-background-color: lightgray;
}

.stopwatch {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}