/*
 * Empty Stylesheet file.
 */

/*.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: powderblue;
}*/

.button {
    -fx-background-color: transparent;
}

.button:hover, .button:focused {
    -fx-background-color: white;
}

.button:pressed {
    -fx-background-color: lightgray;
}