/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.11.2019, 14:37:55
    Author     : kuzkir
*/

.code-area, .lineno {
    -fx-font-family: Consolas;
    -fx-font-size: 14;
}

.lineno {
    -fx-font-style: italic;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.line-highlighter {
    -fx-fill: #f2f9fc; 
}

.sql-keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.sql-function {
    -fx-fill: pink;
}

.sql-number {
    -fx-fill: green;
}

.sql-string {
    -fx-fill: red;
}

.sql-comment {
    -fx-fill: yellow;
}